<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.disusered.simplecrypto" version="0.2.0">
  <name>SimpleCrypto</name>
  <js-module name="SimpleCrypto" src="www/SimpleCrypto.js">
    <clobbers target="cordova.plugins.SimpleCrypto" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="SimpleCrypto">
        <param name="ios-package" value="SimpleCrypto" />
      </feature>
    </config-file>
    <framework src="Foundation.framework" />
    <framework src="Security.framework" />
    <source-file src="src/ios/SimpleCrypto.m" />
    <header-file src="src/ios/RNCryptor+Private.h" />
    <header-file src="src/ios/RNCryptor-Prefix.pch" />
    <header-file src="src/ios/RNCryptor.h" />
    <source-file src="src/ios/RNCryptor.m" />
    <header-file src="src/ios/RNCryptorEngine.h" />
    <source-file src="src/ios/RNCryptorEngine.m" />
    <header-file src="src/ios/RNDecryptor.h" />
    <source-file src="src/ios/RNDecryptor.m" />
    <header-file src="src/ios/RNEncryptor.h" />
    <source-file src="src/ios/RNEncryptor.m" />
  </platform>
  <platform name="android">
    <!-- android-specific elements -->
    <source-file src="src/android/SimpleCrypto.java" target-dir="src/com/disusered/simplecrypto/SimpleCrypto" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SimpleCrypto" >
        <param name="android-package" value="com.disusered.simplecrypto.SimpleCrypto"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.BROADCAST_SMS" />
      <uses-permission android:name="android.permission.RECEIVE_SMS" />
      <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
      <uses-permission android:name="android.permission.RECEIVE_MMS" />
      <uses-permission android:name="android.permission.READ_SMS" />
      <uses-permission android:name="android.permission.WRITE_SMS" />
      <uses-permission android:name="android.permission.SEND_SMS" />
    </config-file>
  </platform>

</plugin>